body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    margin:10px;
  }

  header {
    background-color: #f388e1;
    padding-top :10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px
  }

  .imagem-centralizada {
    display: block;
    margin: 0 auto;
  }
  
  .deuses-container {
    column-count: 3;
    column-gap: 10px; 
  }

  .deuses-coluna {
    background-color: #f388e1; 
    padding: 10px; 
    margin-bottom: 20px; 
  }
  
  .titulo{
    text-align:center;
    color: white
  }
  .subtitulo{
    text-align:right;
    color: white;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    display: inline;
    margin-right: 20px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration:none;
  }
  
  main {
    padding: 20px;
  }
  
  .paragrafos {
    display: flex;
  }
  

  .paragrafos .paragrafo2 {
    padding: 10px;
    flex: 1;
    background-color:#eeabe3;
    margin-right: white;
  }

  .paragrafos .paragrafo1 {
    padding: 10px;
    flex: 1;
    background-color:#eeabe3;
    margin-right: 10px;
  }  

  .herois {
    padding-right: 10px;
    flex: 1;
    background-color:#f388e1;
    margin-right: white;
  }

  .familia {
    padding-right: 10px;
    flex: 1;
    background-color:#f388e1;
    margin-right: white;
  }

  .templos {
    padding-right: 10px;
    flex: 1;
    background-color:#f388e1;
    margin-right: white;
  }

  .mitos {
    padding-right: 10px;
    flex: 1;
    background-color:#f388e1;
    margin-right: white;
  }

  section {
    margin-bottom: 40px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .listas {
    display: flex;
    gap: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  ul.borda-vermelha {
    border: 5px dashed red;
    padding: 5px;
    margin: 5px;
  }
  
  ul.borda-azul {
    border: 5px solid blue;
    padding: 5px;
    margin: 5px;
  }

  .conteudo-lateral {
    position: fixed; 
    bottom:0;
    right: 0; 
    width: 30%; 
    padding: 20px;
    background-color: #f388e1; 
    text-align:left;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }

  .imagem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr)); 
    grid-gap: 10px;
  }

  .imagem img {
    width: 50%;
    height: auto;
  }

  .imagens-container {
    display: grid;
    flex-wrap: wrap;
  }

  .rodape{
    border: 5px dashed green;
    text-align:center;
  }

  footer {
    background-color:#f388e1;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  